In [64]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [65]:
df= pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [66]:
df.bedrooms.median()

4.0

In [67]:
df.bedrooms.mean()

4.2

In [68]:
import math
median_bedrooms=math.floor(df.bedrooms.mean())
median_bedrooms

4

In [69]:
df.bedrooms=df.bedrooms.fillna(median_bedrooms)

In [71]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [76]:
reg= linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [77]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [78]:
reg.intercept_

221323.00186540425

In [80]:
reg.predict([[3000,3,40]])

array([498408.25158031])

In [81]:
112.06244194*3000+23388.88007794*3+-3231.71790863*40+221323.00186540425

498408.25157402427